@import "src/@fuse/scss/fuse";

#academy-courses {

    .header {
        position: relative;
        flex: 1 0 auto;
        height: 280px;
        max-height: 280px;
        text-align: center;
        overflow: hidden;
        background: #1a237e;
        background: linear-gradient(
                90deg
            ,#0e2a3b 0,#34306b);

        @include media-breakpoint('xs') {
            height: 240px;
            padding: 16px;
        }

        .hero-text {

            .hero-icon {
                position: absolute;
                top: -64px;
                left: 0px;
                opacity: 0.04;
                font-size: 512px !important;
                width: 512px !important;
                height: 512px !important;
            }

            h1 {
                font-size: 40px;
                font-weight: 300;
                letter-spacing: 0.01em;
                text-align: center;
                margin-top: 0;
                margin-bottom: 16px;

                @include media-breakpoint('xs') {
                    font-size: 24px;
                }
            }

            h3 {
                max-width: 480px;
                text-align: center;
                font-weight: 300;
                letter-spacing: 0.03em;
                margin: 0;

                @include media-breakpoint('xs') {
                    font-size: 14px;
                }
            }
        }
    }

    .content {

        .category-selector {
            min-width: 320px;
        }

        .filters {
            width: 100%;
            max-width: 1040px;
            margin: 24px auto;
            padding: 0 20px;

            @include media-breakpoint('xs') {
                margin: 0 auto;
            }

            .course-search {
                width: 320px;

                @include media-breakpoint('gt-xs') {
                    margin-right: 16px;
                }
            }
        }

        .courses {
            width: 100%;
            max-width: 1040px;
            margin: 0 auto;

            .no-courses {
                font-size: 24px;
                margin: 24px 0;
                text-align: center;
            }

            .course {
                padding: 16px;

                //&:hover {
                //
                //    .course-content {
                //        border: none;
                //        @include mat-elevation(12);
                //    }
                //}

                .course-content {
                    min-height: 240px;
                    border-radius: 4px;
                    overflow: hidden;
                    transition: box-shadow 200ms ease-in-out;
                    @include mat-elevation(1);

                    .header {
                        padding: 16px 24px;
                        height: 64px !important;
                        min-height: 64px !important;
                        max-height: 64px !important;

                        &.web-bg {
                            background: mat-color($mat-blue, 500);
                        }

                        &.android-bg {
                            background: mat-color($mat-green, 500);
                        }

                        &.firebase-bg {
                            background: mat-color($mat-amber, 800);
                        }

                        &.cloud-bg {
                            background: mat-color($mat-blue-grey, 500);
                        }

                        .category {
                            text-transform: capitalize;
                            text-align: left;
                            font-weight: 600;
                        }

                        .length {

                            .length-icon {
                                margin-right: 8px;
                            }

                            .min {
                                font-size: 16px;
                            }
                        }
                    }

                    .content {
                        padding: 24px;

                        .h1 {
                            font-size: 16px;
                            text-align: center;
                        }

                        .updated {
                            font-size: 13px;
                            font-weight: 600;
                            margin-top: 4px;
                        }
                    }

                    .footer {
                        padding: 16px;
                        height: 48px !important;
                        min-height: 48px !important;
                        max-height: 48px !important;
                        box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.12);
                    }
                }
            }
        }
    }

    :root{
        --background-dark: #2d3548;
        --text-light: rgba(255,255,255,0.6);
        --text-lighter: rgba(255,255,255,0.9);
        --spacing-s: 8px;
        --spacing-m: 16px;
        --spacing-l: 24px;
        --spacing-xl: 32px;
        --spacing-xxl: 64px;
        --width-container: 1200px;
    }

    *{
        border: 0;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    html{
        height: 100%;
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
    }

    body{
        height: 100%;
    }

    .hero-section{
        align-items: flex-start;
        background-image: linear-gradient(15deg, #0f4667 0%, #2a6973 150%);
        display: flex;
        min-height: 100%;
        justify-content: center;
        padding: var(--spacing-xxl) var(--spacing-l);
    }

    .card-grid{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-column-gap: var(--spacing-l);
        grid-row-gap: var(--spacing-l);
        max-width: var(--width-container);
        width: 100%;
    }

    @media(min-width: 540px){
        .card-grid{
            grid-template-columns: repeat(2, 1fr);
        }
    }

    @media(min-width: 960px){
        .card-grid{
            grid-template-columns: repeat(4, 1fr);
        }
    }

    .card{
        list-style: none;
        position: relative;
    }

    .card:before{
        content: '';
        display: block;
        padding-bottom: 150%;
        width: 100%;
    }

    .card__background{
        background-size: cover;
        background-position: center;
        border-radius: var(--spacing-l);
        bottom: 0;
        filter: brightness(0.75) saturate(1.2) contrast(0.85);
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        transform-origin: center;
        trsnsform: scale(1) translateZ(0);
        transition:
            filter 200ms linear,
            transform 200ms linear;
    }

    //.card:hover .card__background{
    //    transform: scale(1.05) translateZ(0);
    //}
    //
    //.card-grid:hover > .card:not(:hover) .card__background{
    //    filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
    //}

    .card__content{
        left: 0;
        padding: var(--spacing-l);
        position: absolute;
        top: 0;
    }

    .card__category{
        color: var(--text-light);
        font-size: 0.9rem;
        margin-bottom: var(--spacing-s);
        text-transform: uppercase;
    }

    .card__heading{
        color: var(--text-lighter);
        font-size: 1.9rem;
        text-shadow: 2px 2px 20px rgba(0,0,0,0.2);
        line-height: 1.4;
        word-spacing: 100vw;
    }

    $font : 'Sofia', sans-serif;
    $font-size:16px;
    $blue : #0a4870;
    $blue2 : #e3ebf1;
    $black: #000;
    $grey : #7d7d7d;
    $grey2 : #f0f0f0;
    $grey3 : #e8e7e7;
    $grey4 : #fdfdfd;
    $bluegrey : #49606e;
    $orange: #ec992c;

    @mixin radius($val) {
        -webkit-border-radius: $val;
        -moz-border-radius: $val;
        border-radius: $val;
    }

    @mixin cardsOpen() {
        &::before {
            background: rgba(10,72,112, 0.6);
        }
        .book-container {
            .content {
                opacity: 1;

                transform: translateY(0px);
            }
        }

        .informations-container {
            transform: translateY(0px);
            .more-information {
                opacity: 1;
            }
        }
    }

    *{
        margin: 0;
        padding: 0;

        font-family: $font;
    }

    h2{
        color: #0a4870;
        font-weight: 500;
    }

    ul{
        display: flex;
        flex-wrap: wrap;

        list-style: none;
        padding:0;

        .booking-card{
            position: relative;
            width: 300px;
            display: flex;
            flex: 0 0 300px;
            flex-direction: column;

            margin: 20px;
            margin-bottom: 30px;
            @include radius(10px);

            overflow: hidden;

            background-position: center center;
            background-size: cover;

            text-align: center;
            color: $blue;

            transition: .3s;

            &::before{
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;

                background: rgba(10,72,112, 0);

                transition: .3s;
            }

            .book-container {
                height: 200px;
                .content {
                    position: relative;
                    opacity: 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 100%;
                    width: 100%;

                    transform: translateY(-200px);

                    transition: .3s;

                    .btn {
                        border: 3px solid white;
                        padding: 10px 15px;

                        background: none;

                        text-transform: uppercase;
                        font-weight: bold;
                        font-size: 1.3em;
                        color: white;

                        cursor: pointer;

                        transition: .3s;

                        //&:hover {
                        //    background: white;
                        //
                        //    border: 0px solid white;
                        //
                        //    color: $blue;
                        //}
                    }
                }
            }

            .informations-container{
                flex: 1 0 auto;

                padding: 20px;

                background: $grey2;

                transform: translateY(206px);

                transition: .3s;

                .title {
                    position: relative;

                    padding-bottom: 10px;
                    margin-bottom: 10px;

                    font-weight: bold;
                    font-size: 1.2em;

                    &::after{
                        content: '';

                        position: absolute;
                        bottom: 0;
                        left: 0;
                        right: 0;

                        height: 3px;
                        width: 50px;

                        margin: auto;

                        background: $blue;
                    }
                }

                .price {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    margin-top: 10px;

                    .icon {
                        margin-right: 10px;
                    }
                }

                .more-information {
                    opacity: 0;

                    transition: .3s;
                    .info-and-date-container {
                        display: flex;

                        .box {
                            flex: 1 0;

                            padding: 15px;
                            margin-top: 20px;
                            @include radius(10px);

                            background: white;

                            font-weight: bold;
                            font-size: 0.9em;

                            .icon {
                                margin-bottom: 5px;
                            }

                            &.info{
                                color: $orange;

                                margin-right: 10px;
                            }
                        }
                    }
                    .disclaimer {
                        margin-top: 20px;

                        font-size: 0.8em;
                        color: $grey;
                    }
                }
            }

        }
    }

    .credits{
        display: table;
        background: $blue;
        color: white;
        line-height: 25px;

        margin: 10px auto;
        padding: 20px;

        @include radius(10px);

        text-align: center;

        a{
            color: $blue2;
        }
    }

    h1{
        margin: 10px 20px;
    }
}
